<div class="header">
    <button tuiIconButton type="button" iconStart="@tui.refresh-cw" [size]="'s'" [appearance]="'secondary'"
        (click)="onRefresh()"></button>
    <button tuiIconButton type="button" iconStart="@tui.plus" [size]="'s'" [appearance]="'secondary'"
        (click)="onAdd()"></button>
    @if (isEditable) {
    <button tuiIconButton type="button" iconStart="@tui.pencil" [size]="'s'" [appearance]="'secondary'"
        (click)="onEdit()"></button>
    <button tuiIconButton type="button" iconStart="@tui.trash" [size]="'s'" [appearance]="'secondary'"
        (click)="onDelete()"></button>
    }
</div>
<div class="tree">
    @for (item of categories(); track item.category) {
    <tui-tree [value]="item" [content]="content" [tuiTreeController]="false" [childrenHandler]="handler"
        [map]="map"></tui-tree>
    }
    <ng-template #content let-item>
        <div class="category" [class.active]="item.category.id===selected" (click)="setAsSelected(item)">
            {{item.category.name}}</div>
    </ng-template>
</div>