.row {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.amounts {
    padding-left: 2rem;
}

a,
a:focus {
    display: block;
    color: var(--tui-text-01);
}
div.amounts a,
div.amounts a:focus {
    color: inherit;
    text-align: right;
}