@if(data.state().range; as range) {
@if(range.hasPrev()) {
<button tuiIconButton type="button" appearance="flat" [size]="'s'" [icon]="'tuiIconChevronLeft'"
    (click)="prev(range)"></button>
}
<tui-hosted-dropdown tuiDropdownAlign="left" [content]="dropdown" [(open)]="open">
    <button tuiButton type="button" appearance="flat" [size]="'s'" [icon]="'tuiIconCalendar'" [iconRight]="icon">
        {{range.name}}
    </button>
</tui-hosted-dropdown>
@if(range.hasNext()) {
<button tuiIconButton type="button" appearance="flat" [size]="'s'" [icon]="'tuiIconChevronDown'"
    (click)="next(range)"></button>
}
<ng-template #dropdown>
    <tui-data-list [size]="'s'">
        @for (option of options; track $index) {
        <button tuiOption (click)="onClick(option)">
            {{ option.name }}
            @if(option.same(range)) {
            <tui-svg src="tuiIconCheck" />
            }
        </button>
        }
    </tui-data-list>
</ng-template>
<ng-template #icon>
    <tui-svg src="tuiIconChevronDown" class="icon" [class.icon_rotated]="open" />
</ng-template>
}