@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    height: 100%;
    overflow: auto;
}

table.groups {
    border-collapse: collapse;
}

.groups td,
.groups th {
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    padding: .25rem .5rem;
}

.groups tr:last-child td {
    border-bottom: none;
}

.text-end {
    text-align: right;
}

.icon {
    @include transition(transform, 300ms);
    transform: rotate(0deg);

    .expanded & {
        transform: rotate(180deg);
    }
}

tr.active>td,
td.active {
    background-color: rgba(0, 0, 0, .075);
}

:not(.active)>a.active {
    background-color: rgba(0, 0, 0, .075);
}

.group {
    @include transition(opacity, 300ms);
    opacity: 1;
    height: auto;

    .expanded & {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
}

.account {
    @include transition(opacity, 300ms);
    opacity: 0;
    height: 0;
    overflow: hidden;

    .expanded & {
        opacity: 1;
        height: auto;
    }
}

tr.owner {
    background-color: #e7f6fb;
}

tr.coowner {
    background-color: #f6ddf5;
}

tr.shared {
    background-color: #f6e9cf;
}

a,
a:focus {
    display: block;
    color: var(--tui-text-01);
}