:host {
    display: block;
    height: 100%;
    overflow: auto;
}

table.groups {
    border-collapse: collapse;
}

.groups td,
.groups th {
    vertical-align: top;
    border-bottom: 1px solid #dee2e6;
    padding: .25rem .5rem;
}

.groups tr:last-child td {
    border-bottom: none;
}

tr.owner {
    background-color: #e7f6fb;
}

tr.coowner {
    background-color: #f6ddf5;
}

tr.shared {
    background-color: #f6e9cf;
}