<table class="groups">
    @for(g of groups(); track g.id) {
    <tr [class.expanded]="data.expanded().includes(g.id)" [class.owner]="g.is_owner" [class.coowner]="g.is_coowner"
        [class.shared]="g.is_shared">
        <td>{{g.fullname}}</td>
        <td>
            @for(t of total(g); track t.currency) {
                <div class="group">{{t.value | currency:t.currency}}</div>
            }
        </td>
    </tr>
    }
    <tr>
        <td>&nbsp;</td>
        <td class="text-end">
            @for(t of data.total(); track t.currency) {
                <div class="group">{{t.value | currency:t.currency}}</div>
            }
        </td>
    </tr>
</table>