<form [formGroup]=form [tuiTextfieldSize]="'s'">
    <label tuiLabel>Name
        <tui-input tuiAutoFocus formControlName="name">
            Account name
            <input tuiTextfieldLegacy />
        </tui-input>
    </label>

    <div class="row">
        <label tuiLabel class="currency-field">Currency
            <tui-combo-box formControlName="currency" [strict]="false">
                <input tuiTextfieldLegacy />
                <tui-data-list-wrapper *tuiDataList [items]="currencies | tuiFilterByInput" [size]="'s'">
                </tui-data-list-wrapper>
            </tui-combo-box>
        </label>

        <label tuiLabel class="balance-field">Initial Balance
            <tui-input-number formControlName="startBalance">0,00</tui-input-number>
        </label>
    </div>

    <div class="row">
        <label tuiLabel>Chain (optional)
            <tui-input formControlName="chain">
                Blockchain network
                <input tuiTextfieldLegacy />
            </tui-input>
        </label>
    </div>

    <div class="row">
        <label tuiLabel>Address (optional)
            <tui-input formControlName="address">
                Wallet address
                <input tuiTextfieldLegacy />
            </tui-input>
        </label>
    </div>

    <div class="row">
        <div class="fill"></div>
        <button tuiButton type="submit" [appearance]="'primary'" [size]="'s'" (click)="onSubmit()"
            [disabled]=!form.valid>Save</button>
        <button tuiButton type="button" [appearance]="'secondary'" [size]="'s'" (click)="onCancel()">Cancel</button>
    </div>
</form>
