.group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    display: flex;
    gap: .5rem;
}

.fill {
    flex: 1;
}


.accounts {
    display: grid;
    grid-template-columns: 6fr 6fr 5fr auto;
    gap: 0.5rem;
}

.accounts-title {
    grid-column: 1 / 4;
}

.account-currency {
    text-transform: uppercase;
}

.permissions {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    row-gap: 0;
    column-gap: .5rem;
    text-align: center;
    align-items: center;
    margin-bottom: .5rem;
}

.permissions div.title {
    margin-top: .5rem;
    font-size: .7rem;
    line-height: .7rem;
    vertical-align: bottom;
    padding: 0;
}

.permissions div.email {
    text-align: left;
}

.rights {
    grid-column: 2 / 5;
}




