@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: block;
    height: 2.5rem;
    background: rgb(13, 110, 29);
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: .5rem;
    padding-right: .5rem;
    box-shadow: 0px 4px 6px rgb(0 0 0 / 42%);
}

.fill {
    flex-grow: 1;
}

.title {
    font-weight: 500;
    font-size: 15px;
    margin-right: 1rem;
}

.group {
    display: flex;
    column-gap: 0.2rem;
    margin: 0 .4rem;
}
