/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.p-2 {
    padding: .5rem;
}

.m-2 {
    margin: .5rem;
}

.type0 {
    color: #8f8100;
}

.type1,
.debit {
    color: #b40000;
}

.type2,
.credit {
    color: #14aa00;
}


tui-dialog button.t-close {
    top: 0.2rem !important;
    right: 0.2rem !important;
}

.t-header {
    color: white;
    background-color: rgb(13, 110, 29);
    padding: 0.4rem 1rem;
}