<form [formGroup]="form" (ngSubmit)="onChangePassword()" class="form" [tuiTextfieldSize]="'s'">
    <label tuiLabel>Current Password
        <tui-textfield>
            <input tuiTextfield type="password" formControlName="oldPassword" [tuiTextfieldCleaner]="false"/>
            <tui-icon tuiPassword />
        </tui-textfield>
    </label>
    <label tuiLabel>New Password
        <tui-textfield>
            <input tuiTextfield type="password" formControlName="newPassword" [tuiTextfieldCleaner]="false"/>
            <tui-icon tuiPassword />
        </tui-textfield>
    </label>
    <label tuiLabel>Confirm New Password
        <tui-textfield>
            <input tuiTextfield type="password" formControlName="confirmPassword" [tuiTextfieldCleaner]="false"/>
            <tui-icon tuiPassword />
        </tui-textfield>
    </label>
    <div class="buttons">
        <span><a [routerLink]="['']" routerLinkActive="router-link-active">Back to Home</a></span>
        <button type="submit" tuiButton [size]="'s'" [disabled]="form.invalid">Change Password</button>
    </div>
</form>
