<form [formGroup]="form" (ngSubmit)="onRegister()" class="form" [tuiTextfieldSize]="'s'" autocomplete="off">
    <label tuiLabel>Email
        <tui-textfield>
            <input tuiTextfield placeholder="Enter your email" autocomplete="email" type="email"
                formControlName="email" />
        </tui-textfield>
    </label>
    <div class="row">
        <label tuiLabel>Name
            <tui-textfield>
                <input tuiTextfield placeholder="{{defaultName}}" formControlName="name" />
            </tui-textfield>
        </label>
        <label tuiLabel>Currency
            <tui-textfield class="currency" iconEnd="@tui.search">
                <input tuiTextfield formControlName="currency" />
                <tui-data-list-wrapper *tuiTextfieldDropdown [items]="currencies | tuiFilterByInput" />
            </tui-textfield>
        </label>
    </div>
    <label tuiLabel>Password
        <tui-textfield>
            <input tuiTextfield type="password" formControlName="password" [tuiTextfieldCleaner]="false" />
            <tui-icon tuiPassword />
        </tui-textfield>
    </label>
    <div class="buttons">
        <span>Already have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Sign
                in</a></span>
        <button type="submit" tuiButton [size]="'s'" [disabled]="form.invalid">Register</button>
    </div>
</form>