<form [formGroup]="form" (ngSubmit)="onRegister()" class="form" [tuiTextfieldSize]="'s'" autocomplete="off">
    <p>
        <label [tuiLabel]="'Email'">
            <tui-input formControlName="username" required>
                Enter your email
                <input autocomplete="email" tuiTextfield type="email" />
            </tui-input>
        </label>
    </p>
    <p>
        <label [tuiLabel]="'Password'">
            <tui-input-password formControlName="password" required>Enter your password</tui-input-password>
        </label>
    </p>
    <p class="buttons">
        <span>Already have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Sign in</a></span>
        <button type="submit" tuiButton  [size]="'s'"  [disabled]="form.invalid">Register</button>
    </p>
</form>
