.date-range {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
}

.fill {
  width: 100%;
}

.row {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 16px;
}