@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 75vh;
    overflow: auto;
}

.table {
    width: 100%;
    overflow: auto;
}

.table table {
    border: 0;
    border-collapse: separate;
    border-spacing: 0;
}


.table table th {
    position: sticky;
    top: 0;
    background-color: var(--tui-base-01);
    border: 1px solid var(--tui-base-04);
    border-right: 0;
    text-align: left;
    color: var(--tui-text-02);
    padding: 0 .75rem;
    font: var(--tui-font-text-s);
    font-weight: bold;
    height: var(--tui-height-s);
 }

 .table table th:last-child {
    border-right: 1px solid var(--tui-base-04);
 }

 .table table tbody td {
    border: 1px solid var(--tui-base-04);
    border-top: 0;
    border-right: 0;
    padding: 0 .75rem;
    font: var(--tui-font-text-s);
    height: var(--tui-height-s);
}

.table table tbody td:last-child {
    border-right: 1px solid var(--tui-base-04);
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
}

.category {
    min-width: 20rem;
}

.table table tbody td.category {
    padding: 0;
}


.category-level-2 {
    margin-left: 1rem;
}

.category-level-3 {
    margin-left: 2rem;
}

.category-level-4 {
    margin-left: 3rem;
}


